<!doctype html>
<html lang="en" ng-app="app">
<head>
<title>Timer</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body ng-controller="AppController">
<div class="container text-center">
	<h1>Timer</h1>
	<span ng-controller="EventController"> 
		<button class="btn btn-lg btn-default" ng-class="{active:isActive}" ng-click="toggleTime()">{{counter}}</button>
	</span>	
	<span ng-controller="EventController">
		<button class="btn btn-lg btn-default" ng-class="{active:isActive}" ng-click="toggleTime()">{{counter}}</button>	
	</span>	
</div>	
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>	
</body>	